* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*-SCROLL BAR-*/
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/*-----*/

body {
    background-color: black;
}

main {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 80%;
    background-image: linear-gradient(180deg, rebeccapurple, black);
    border: solid 3px gray;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -30px white;
}

#topo {
    width: 100%;
    margin: 2% 0% 2% 0%;
    padding: 0% 5% 0% 5%;
}

#topo>img {
    width: 5%;
    margin: 0% 5% 0% 0%;
}

#topo>p {
    display: inline;
    font-size: 15pt;
}

#menu {
    width: 100%;
    margin: 2% 0% 2% 0%;
    padding: 0% 1% 0% 1%;
}

#menu>input {
    width: 10%;
    padding: 3%;
    background: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
}
#menu>input:hover {
    width: 10%;
    background-color: gray;
    border: none;
}

#menu>p {
    display: inline;
    margin: 0% 0% 0% 5%;
    font-size: 20pt;
}

#menuNavegacao {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    width: 0px;
    height: 85%;
    padding: 3% 0% 3% 1%;
    background-color: rgb(74, 23, 126);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 15px;
    font-size: 15pt;
    visibility: hidden;
    transition: 0.3s;
    overflow: auto;
    z-index: 999;
}

#menuNavegacao>p {
    margin: 3% 0% 0% 3%;
    text-align: left;
}

#menuNavegacao>input {
    height: 10%;
    margin: 3% 0% 0% 0%;
    padding: 5% 0% 5% 10%;
    background: none;
    border: none;
    text-align: left;
    font-size: 12pt;
    transition: 0.3s;
}

#menuNavegacao>input:hover {
    background-color: gray;
    border-radius: 5px;
}



#botoesGeralConv {
    visibility: hidden;
    position: absolute;
    bottom: -14%;
    padding: 1% 1% 1% 1%;
    width: 100%;
    height: 60%;
}

.botaoConv {
    float: left;
    width: 33.33%;
    height: 15%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20pt;
    transition: 0.3s;
}

.botaoConv:hover {
    cursor: pointer;
    background-color: gray;
}