#mainConversorVolume,
#mainConversorComprimento,
#mainConversorTemperatura,
#mainConversorPeso,
#mainConversorArea,
#mainConversorVelocidade,
#mainConversorTempo {
    position: absolute;
    visibility: hidden;
}

#mainConversorVolume>div,
#mainConversorComprimento>div,
#mainConversorTemperatura>div,
#mainConversorPeso>div,
#mainConversorArea>div,
#mainConversorVelocidade>div,
#mainConversorTempo>div {
    display: flex;
    flex-direction: column;
}

#volume1,
#volume2,
#comprimento1,
#comprimento2,
#temperatura1,
#temperatura2,
#peso1,
#peso2,
#area1,
#area2,
#velocidade1,
#velocidade2,
#tempo1,
#tempo2 {
    width: fit-content;
    margin: 1% 3% 0% 3%;
    background: none;
    border: none;
    font-size: 30pt;
    text-align: left;
}

#mainConversorVolume>div>select,
#mainConversorComprimento>div>select,
#mainConversorTemperatura>div>select,
#mainConversorPeso>div>select,
#mainConversorArea>div>select,
#mainConversorVelocidade>div>select,
#mainConversorTempo>div>select {
    width: fit-content;
    margin: 0% 0% 5% 3%;
    background: #111111;
    border: 0px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: bold;
}

#mainConversorVolume>div>option,
#mainConversorComprimento>div>option,
#mainConversorTemperatura>div>option,
#mainConversorPeso>div>option,
#mainConversorArea>div>option,
#mainConversorVelocidade>div>option,
#mainConversorTempo>div>option {
    width: 25%;
    border: 0px;
}